@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: Poppins;
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #eee;
}
ul{
    display: flex;
}
header{
    width: 1140px;
    max-width: 80%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    margin-right: 40px;
}


/* Container */

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}
.container .list .item{
    position: absolute;
    inset: 0 0 0 0;
}
.container .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.container .list .item .content{
    position: absolute;
    top:15%;
    width: 1140px;
    max-width: 80%;
    left: 20%;
    transform: translateX(-50);
    padding-right: 40%;
    
    box-sizing: border-box;
    color: #fff;
    box-shadow: 0 5px 10px #0004;
    

}
.container .list .item .content .des{
    font-size: 13px;
}

.container .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}

.container .list .item .content .title, 
.container .list .item .content .topic{
    font-weight: bold;
    font-size: 5em;
    list-style: 1.3em;
}

.container .list .item .content .topic{
    color: #f1683a;
}

.container .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;

}
.container .list .item .content button{
    background: #fff;
    border: none;
    letter-spacing: 3px;
    font-family: poppins;
}

.container .list .item .content button:nth-child(2){
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}



/* THUMBNAIL */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.thumbnail .item .content .title{
    font-weight: bold;
}


/* ARROWS */

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #eee4;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}

.arrows button:hover{
    background-color: #eee;
    color: #555;
}

.container .list .item:nth-child(1){
    z-index: 1;
}

.container .list .item:nth-child(1) .title,
.container .list .item:nth-child(1) .author,
.container .list .item:nth-child(1) .topic,
.container .list .item:nth-child(1) .des,
.container .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;

}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    
}

.container .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}

.container .list .item:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.container .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}

.container .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}

.container.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImg 0.5s linear 1 forwards;

}

@keyframes showImg {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
    
}



/* NEXT BUTTON */

.container.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;


}

@keyframes showThumbnail {
    to{
        width: 150px;
    }
    
}

.container.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to{
        transform: translateX(0);
    }
    
}


/* PREV BUTTON */

.container.prev .list .item:nth-child(2){
    z-index: 2;
}

.container.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImg 0.5s linear 1 forwards;
}

@keyframes outImg {
    to{
        width: 150px;
        height: 220px;
        left: 50%;
        bottom: 50px;
        border-radius: 20px;
    }
    
}

.container.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation:  showThumbnail 0.5s linear 1 forwards;


}

.container.prev .list .item:nth-child(2) .title,
.container.prev .list .item:nth-child(2) .author,
.container.prev .list .item:nth-child(2) .topic,
.container.prev .list .item:nth-child(2) .des,
.container.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;

}

@keyframes contentOut {
    to{
        transform: translateX(-150px);
        filter: blur(20px);
        opacity: 0;
    }
    
}

.container.next .arrows button,
.container.prev .arrows button{
    pointer-events: none;
}


.time{
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.container.next .time,
.container.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
    
}

@keyframes timeRunning {
    to{
        width: 0;
    }
    
}

@media screen and (max-width: 678px) {
    .container .list .item .content{
        padding-right: 0;

    }

    .container .list .item .content .title{
        font-size: 30px;
    }
    
}

